@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove input number spinner */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.h-noheader {
  min-height: calc(100vh - 74px);
}

fieldset:disabled input,
fieldset:disabled label,
fieldset:disabled button {
  pointer-events: none !important;
  cursor: not-allowed !important;
  opacity: 0.35 !important;
  filter: alpha(opacity=35);
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.mooncontrol {
  background-color: #000016;
}

.maintitles {
  @apply tw-text-6xl tw-font-black purplefade md:tw-text-8xl;
}

.titlefont {
  @apply md:tw-leading-10 !important;
}

.hidemd {
  @apply tw-block md:tw-hidden !important;
}

.hidelg {
  @apply tw-block lg:tw-hidden !important;
}

.showmd {
  @apply tw-hidden md:tw-block lg:tw-hidden;
}

.dontshowmd {
  @apply tw-block md:tw-hidden lg:tw-block;
}

.hidesm {
  @apply tw-hidden md:tw-block !important;
}

.hidesmmd {
  @apply tw-hidden lg:tw-block !important;
}

.textfade {
  @apply tw-bg-clip-text tw-text-transparent tw-bg-gradient-to-r;
}

.redfade {
  @apply textfade tw-from-red-600 tw-to-red-400;
}

.purplefade {
  @apply textfade tw-from-purple-700 tw-to-purple-500;
}

.greenfade {
  @apply textfade tw-from-green-600 tw-to-green-400;
}

.yellowfade {
  @apply textfade tw-from-yellow-300 tw-to-yellow-200;
}

.fakebutton {
  height: 37px;
}

.tw-btn-accent:hover {
  background-color: #fde68a !important
}

.tw-btn-secondary:hover {
  background-color: #88d8f7 !important
}

.maxwithdraw {
  @apply tw-btn tw-btn-link tw-text-accent tw-opacity-80 tw-text-lg tw-uppercase hover:tw-bg-transparent hover:tw-opacity-100;
  background-color: transparent !important;
  text-decoration: none !important;
}

.minustop {
  margin-top: -3px;
}

.tw-stats {
  @apply tw-w-full tw-grid-flow-row lg:tw-grid-flow-col tw-my-6 md:tw-my-5;
}

.tw-stat {
  @apply tw-place-items-center tw-place-content-center;
}

.tw-stats.tw-stats .tw-stat+.tw-stat {
  @apply tw-border-t-2 lg:tw-border-base-200;
}

.tw-stat-value {
  @apply tw-text-3xl xl:tw-text-5xl;
}

.tw-stat-title,
.tw-card-title {
  @apply tw-uppercase;
}

.tw-card-body {
  @apply tw-px-4 lg:tw-px-8;
}

.sectiontitle {
  @apply tw-uppercase;
}

.topstats .tw-stat-title,
.sectiontitle {
  @apply tw-text-secondary tw-font-bold;
}

.bottomstats .tw-stat-title {
  @apply tw-font-bold;
}

.tw-stat-title,
.tw-stat-desc {
  @apply tw-opacity-80;
}

.topstats .tw-stat {
  @apply tw-bg-base-100;
}

.bottomstats .tw-stat {
  @apply tw-bg-base-200;
}

.headingfont {
  @apply tw-text-3xl md:tw-text-5xl tw-font-bold tw-mb-6 md:tw-mb-10;
}

.withdraw {
  @apply tw-input tw-pl-1 md:tw-pl-4 tw-w-full tw-input-bordered tw-text-white !important;
}

input.withdrawinput {
  @apply tw-input-secondary withdraw tw-text-base xl:tw-text-lg tw-text-left !important;
}

.depositinput {
  @apply tw-input-accent withdraw tw-text-base xl:tw-text-lg tw-text-left;
}

.dwmbutton {
  @apply depositbtns tw-btn tw-btn-secondary tw-bordered tw-border-secondary;
}

.maxbuttons {
  @apply depositbtns tw-btn tw-btn-accent tw-border-accent;
}

.depositbtns {
  @apply tw-text-base-300 md:tw-text-lg tw-uppercase tw-ml-1 tw-opacity-80 tw-bordered;
}

.keybtn {
  @apply maxbuttons tw-mt-5 tw-text-xl tw-font-black !important;
}

.maximise {
  @apply tw-bg-purple-700 hover:tw-bg-purple-900 tw-text-white tw-border-purple-700 hover:tw-border-purple-900;
}

.withdrawbtn {
  @apply tw-text-base xl:tw-text-xl tw-btn tw-btn-secondary tw-text-base-300 tw-px-2 lg:tw-px-3 xl:tw-px-2 !important;
}

.keybtn:disabled {
  @apply tw-opacity-20 !important;
  pointer-events: none !important;
  cursor: not-allowed !important;
}

.withbutton .depositinput {
  @apply sm:tw-pr-11 md:tw-pr-16 !important;
}

.nobutton .depositinput {
  @apply tw-pr-2 !important;
}

.fullhalfwidth {
  @apply tw-w-full md:tw-w-1/2;
}

.tw-label-text {
  @apply tw-text-lg tw-text-white tw-text-left tw-mt-5 tw-mb-2 tw-uppercase tw-font-bold;
}

fieldset:disabled p.approxLabel {
  @apply tw-opacity-20 !important;
}

p.approxLabel {
  @apply tw-text-white tw-opacity-40 !important;
}

fieldset:disabled .bottomstats {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.35;
  filter: alpha(opacity=35);
  box-shadow: none;
}

.scene-tooltip .moontip {
  color: #ffffff;
  font-size: 15px;
  background: rgba(109, 40, 217, 0.7);
  border-radius: 2rem;
  padding: 1em;
  margin: 1em;
  text-align: left;
  max-width: 80vw;
}

.scene-tooltip .moontip span {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.plotcontainer,
.overlay {
  grid-area: 1 / 1;
}

.overlayloader {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(20, 10, 46, 0.6);
}

.js-plotly-plot {
  display: block;
  margin: auto;
}

.js-plotly-plot,
#scene,
#scene canvas {
  max-width: 736px;
  width: 100% !important;
  margin: auto;
}

/*
________________________________________________________________________
TABLE
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

[role="table"],
[role="rowgroup"],
[role="row"],
[role="subheader"] {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  line-height: 1 !important;
}

[role="table"] [role="columnheader"],
[role="table"] [role="cell"] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* Minimum single cell width (cell padding and border deducted) */
  flex: 1 1 calc(10% - 20px - 2px);
  -webkit-flex: calc(10% - 20px - 2px);
  padding: 20px 0px;
  @apply tw-text-secondary tw-text-left;
}

[role="table"] [role="rowgroup"]+[role="rowgroup"]>[role="row"] {
  @apply tw-border-b-2 tw-border-secondary tw-border-t-0 tw-border-l-0 tw-border-r-0
}

[role="table"]>[role="rowgroup"]:last-child {
  border-bottom: 0px;
}

[role="table"] label {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-family: arial, sans-serif;
  min-width: 20px;
  @apply tw-text-secondary;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[role="table"] label:hover {
  background: #1D5FD1;
  color: #FFF;
}


/* Table Header */

[role="table"] [role="row"] [role="columnheader"] {
  @apply tw-ml-0 tw-text-base xl:tw-text-lg tw-px-1 md:tw-px-4 tw-text-secondary tw-border-b-2 tw-border-secondary;
}

[role="table"] [role="columnheader"].narrow {
  flex-grow: 0.5;
  -webkit-flex-grow: 0.5;
}

[role="table"] [role="columnheader"].narrower {
  flex-grow: 0;
  -webkit-flex-grow: 0;
}

[role="table"] [role="columnheader"].wide {
  flex-grow: 2;
  -webkit-flex-grow: 2;
}

[role="table"] [role="columnheader"].wider {
  flex-grow: 10;
  -webkit-flex-grow: 10;
}


/* Table Row */

[role="table"] [role="row"] {
  align-items: stretch;
}


/* Table Cell */

[role="table"] [role="row"] [role="cell"] {
  @apply tw-text-lg lg:tw-text-sm xl:tw-text-lg tw-text-left tw-px-1 tw-py-2 md:tw-px-4 tw-leading-6 lg:tw-leading-10 xl:tw-leading-10 !important;
}

[role="table"] [role="row"] [role="cell"]:not(:first-child) {
  @apply tw-border-l-0 tw-border-r-0;
}

[role="table"] [role="row"] [role="cell"]:last-child {
  border-right: 0px;
}


/* Table Cell Width Modifiers */

[role="table"] [role="cell"].narrow {
  flex-grow: 0.5;
  -webkit-flex-grow: 0.5;
}

[role="table"] [role="cell"].narrower {
  flex-grow: 0;
  -webkit-flex-grow: 0;
}

[role="table"] [role="cell"].wide {
  flex-grow: 2;
  -webkit-flex-grow: 2;
}

[role="table"] [role="cell"].wider {
  flex-grow: 10;
  -webkit-flex-grow: 10;
}

@media only screen and (max-width: 1023px) {

  .js-plotly-plot,
  #scene,
  #scene canvas {
    max-width: 85vw !important;
    width: 100% !important;
    margin: auto;
  }

  [role="table"] .columnheader-group {
    display: none;
  }

  [role="table"] [role="columnheader"],
  [role="table"] [role="cell"] {
    /* Minimum single cell width (cell padding and border deducted) */
    /* 100% means that only one column is displayed in a row (100% / 1 = 100%) */
    flex: 1 1 100%;
    -webkit-flex: 1 1 100%;
    padding: 8px 10px;
  }

  [role="table"] [role="row"] {
    @apply tw-py-6 tw-px-4;
  }

  [role="table"] [role="cell"] {
    border-bottom: 0;
  }

  [role="table"] [role="row"] [role="cell"]:not(:first-child) {
    border-left: 0px;
  }

  [role="table"] [role="cell"],
  [role="table"] [role="cell"] span {
    text-align: right;
    justify-content: space-between;
    display: initial;
  }

  [role="table"] [role="row"] label {
    float: right;
    width: 32px;
    min-width: 32px;
    margin: -4px 0px -8px 10px;
    line-height: 32px;
    height: 32px;
  }

  [role="table"] [role="cell"]::before {
    content: attr(data-header);
    float: left;
    text-align: left;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    --tw-tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-tw-text-opacity));
    margin-right: 20px;
  }

  [role="table"] [role="rowgroup"] [role="row"]:nth-child(even) {
    @apply tw-bg-base-200;
  }

  [role="table"] [role="rowgroup"]+[role="rowgroup"]>[role="row"]:not(:last-child) {
    @apply tw-border-b-2 tw-border-secondary tw-border-t-0 tw-border-l-0 tw-border-r-0;
  }

  [role="table"] [role="row"] [role="cell"] {
    @apply tw-border-l-0 tw-border-r-0;
  }

  [role="table"] [role="rowgroup"]:last-child [role="row"]:last-child [role="cell"].expandable {
    @apply tw-border-b-0;
  }
}

@media only screen and (max-width: 769px) {

  #scene,
  #scene canvas,
  .svg-container {
    width: 80vw;
  }

  .scene-tooltip .moontip {
    font-size: 11px;
  }
}

/* Modal */
.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}

.customModal {
  background-color: hsla(var(--b1)/var(--tw-bg-opacity, 1)) !important;
  max-width: calc(50vw - 2rem) !important;
  width: 100%;
  border-radius: 1rem;
  padding: 2rem !important;
  color: #fff !important;
}

@media only screen and (max-width: 1023px) {
  .customModal {
    max-width: calc(95vw - 2rem) !important;
  }
}

.customModal h1 {
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  color: #f000b8;
  margin-bottom: 1em;
}

.customModal svg {
  color: #f000b8;
  fill: #f000b8;
}

.react-responsive-modal-closeButton {
  outline: none;
  border: 0;
}

/* NFT */

.nftbtn {
  @apply fullhalfwidth tw-mx-auto  !important;
}

.viewer {
  @apply tw-w-full;
  height: 50vh;
}

.viewer canvas {
  @apply tw-my-5 tw-w-full tw-h-full !important;
}

.gui-wrap,
.axes {
  display: block;
}

.dg.main {
  @apply tw-block tw-w-full !important;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif  !important;
}

.dg.main .title {
  @apply tw-text-xl tw-leading-10 tw-pt-1 tw-select tw-select-bordered tw-select-secondary tw-w-full tw-max-w-xs tw-text-white !important;
}

.dg.main li.folder:not(:first-child) {
  margin-left: 5%;
}

.dg.main li.folder {
  @apply md:tw-inline-block tw-block tw-float-left !important;
  width: 30%;
}

.close-bottom {
  display: none;
}

.gui-stats canvas {
  display: inline-block;
  float: left;
  width: 32% !important;
  margin-left: 1%;
}

.dg .c input[type=text] {
  margin-top: 0px !important;
  padding: 0px !important;
}

.dg .cr, .gui-stats {
  border-left: 2px solid rgb(88, 199, 243) !important;
  border-right: 2px solid rgb(88, 199, 243) !important;
  margin-left: 14px;
  margin-right: 18px;
  background-color: rgb(45, 27, 105) !important;
}

.dg ul .cr:last-child {
  border-bottom: 2px solid rgb(88, 199, 243) !important;
}

.dg ul.closed .cr:last-child {
  border-bottom: 0px !important;
}

.dg li:not(.folder):not(.gui-stats) {
  @apply tw-h-10 !important;
}

.dg .closed li:not(.folder) {
  @apply tw-h-0 !important;
}

.gui-stats {
  height: 83px !important;
  border-bottom: 2px solid rgb(88, 199, 243) !important;
}

.closed .gui-stats {
  border-bottom: 0px !important;
}

.dg .c select {
  color: black;
  height: 2em;
}

.dg .property-name {
  font-size: 1.3em;
  line-height: 2.5em;
}

@media only screen and (max-width: 769px) {
  .dg.main li.folder {
    @apply tw-w-full tw-ml-0 !important;
  }
  .dg.main li.folder:nth-child(2)  {
    @apply tw-my-4;
  }
}

@keyframes react-responsive-modal-overlay-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes react-responsive-modal-overlay-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes react-responsive-modal-modal-in {
  0% {
    transform: scale(0.96);
    opacity: 0;
  }

  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes react-responsive-modal-modal-out {
  0% {
    transform: scale(100%);
    opacity: 1;
  }

  100% {
    transform: scale(0.96);
    opacity: 0;
  }
}

/* Animations */
@keyframes blink {

  /**
   * At the start of the animation the dot
   * has an opacity of .2
   */
  0% {
    opacity: .2;
  }

  /**
   * At 20% the dot is fully visible and
   * then fades out slowly
   */
  20% {
    opacity: 1;
  }

  /**
   * Until it reaches an opacity of .2 and
   * the animation can start again
   */
  100% {
    opacity: .2;
  }
}

.loading span {
  /**
   * Use the blink animation, which is defined above
   */
  animation-name: blink;
  /**
   * The animation should take 1.4 seconds
   */
  animation-duration: 1.4s;
  /**
   * It will repeat itself forever
   */
  animation-iteration-count: infinite;
  /**
   * This makes sure that the starting style (opacity: .2)
   * of the animation is applied before the animation starts.
   * Otherwise we would see a short flash or would have
   * to set the default styling of the dots to the same
   * as the animation. Same applies for the ending styles.
   */
  animation-fill-mode: both;
}

.loading span:nth-child(2) {
  /**
   * Starts the animation of the third dot
   * with a delay of .2s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .2s;
}

.loading span:nth-child(3) {
  /**
   * Starts the animation of the third dot
   * with a delay of .4s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .4s;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

