# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - schnoodle

on:
  push:
    branches:
      - schnoodlev9
  workflow_dispatch:

env:
  REACT_APP_BSC_EXPLORER_URL: https://testnet.bscscan.com
  REACT_APP_BSC_NET_ID: 97
  REACT_APP_BSC_NET_NAME: BSC Test Network
  REACT_APP_BSC_URL: https://speedy-nodes-nyc.moralis.io/c5ab18bb6088988b44147ebd/bsc/testnet
  REACT_APP_BSC_RPC_URL: https://data-seed-prebsc-1-s1.binance.org:8545/
  REACT_APP_ETH_EXPLORER_URL: https://rinkeby.etherscan.io
  REACT_APP_ETH_NET_ID: 4
  REACT_APP_ETH_NET_NAME: Rinkeby Test Network
  REACT_APP_ETH_RPC_URL: https://mainnet.infura.io/v3/
  REACT_APP_ETH_URL: https://speedy-nodes-nyc.moralis.io/c5ab18bb6088988b44147ebd/eth/rinkeby
  REACT_APP_SERVER_URL: http://localhost:3300

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'
          include-prerelease: true

      - name: Build with dotnet
        run: dotnet build --configuration Release

      - name: dotnet publish
        run: dotnet publish -c Release -o ${{env.DOTNET_ROOT}}/myapp

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'test'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: .net-app

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'schnoodle'
          slot-name: 'test'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_110ACB2DD2B148EF8ED187EDAF0A1914 }}
          package: .
